exportPattern("^[[:alpha:]]+")

import(tidyr)
import(readr)
import(magrittr)
import(ggplot2)
import(compiler)
import(dplyr)
import(JuliaCall)
import(xfun)
import(stringr)
import(future)
import(future.apply)
import(purrr)
import(devtools)
import(grid)
import(ggthemes)
# import(reticulate)
import(GGally)
